repos:
- repo: https://github.com/mwouts/jupytext
  rev: v1.13.7
  hooks:
  - id: jupytext
    files: ^examples/.+\.ipynb$
    args: ["--sync"]
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
    - id: black-jupyter
- repo: https://github.com/nbQA-dev/nbQA
  rev: 1.1.0
  hooks:
    - id: nbqa-isort
      additional_dependencies: [isort==5.6.4]
    - id: nbqa-pyupgrade
      additional_dependencies: [pyupgrade==2.7.4]
      args: [--py37-plus]
- repo: https://github.com/MarcoGorelli/madforhooks
  rev: 0.3.0
  hooks:
    - id: check-execution-order
      args: [--strict]
      exclude: |
            (?x)^
            ^examples/ode_models/ODE_with_manual_gradients\.ipynb$
            |examples/samplers/DEMetropolisZ_EfficiencyComparison\.ipynb$
            |examples/gaussian_processes/GP-Latent\.ipynb$
            |examples/gaussian_processes/GP-MaunaLoa2\.ipynb$
            |examples/samplers/MLDA_gravity_surveying\.ipynb$
            |examples/howto/sampling_callback\.ipynb$
            |examples/case_studies/blackbox_external_likelihood\.ipynb$
            |examples/samplers/GLM-hierarchical-jax\.ipynb$
            |examples/variational_inference/convolutional_vae_keras_advi\.ipynb$
            |examples/gaussian_processes/GP-TProcess\.ipynb$
            |examples/mixture_models/dependent_density_regression\.ipynb$
            |examples/gaussian_processes/GP-Heteroskedastic\.ipynb$
            |examples/gaussian_processes/GP-MeansAndCovs\.ipynb$
            |examples/samplers/MLDA_variance_reduction_linear_regression\.ipynb$

- repo: https://github.com/FlamingTempura/bibtex-tidy
  rev: v1.8.5
  hooks:
    - id: bibtex-tidy
      files: examples/references.bib
      args: ["--sort=key", --quiet]
- repo: local
  hooks:
    - id: watermark
      args: [--negate, --multiline]
      entry: '%load_ext watermark.*%watermark -n -u -v -iv -w'
      language: pygrep
      minimum_pre_commit_version: 2.8.0
      name: Check notebooks have watermark (see Jupyter style guide from PyMC docs)
      types: [jupyter]
    - id: no-internal-links
      name: Check no internal links are in the docs
      description: >-
        'A quick check to prevent urls pointing to pymc docs'
      files: ^examples/
      exclude: >
          (?x)(index.md|
               404.md|
               conf.py|
               examples/case_studies/LKJ.ipynb|
               examples/case_studies/LKJ.ipynb|
               examples/case_studies/blackbox_external_likelihood.ipynb|
               examples/case_studies/blackbox_external_likelihood_numpy.ipynb|
               examples/case_studies/item_response_nba.ipynb|
               examples/diagnostics_and_criticism/sampler-stats.ipynb|
               examples/gaussian_processes/GP-MaunaLoa2.ipynb|
               examples/generalized_linear_models/GLM-logistic.ipynb|
               examples/generalized_linear_models/GLM-out-of-sample-predictions.ipynb|
               examples/generalized_linear_models/GLM-poisson-regression.ipynb|
               examples/generalized_linear_models/GLM-robust.ipynb|
               examples/generalized_linear_models/GLM-rolling-regression.ipynb|
               examples/generalized_linear_models/GLM-simpsons-paradox.ipynb|
               examples/howto/api_quickstart.ipynb|
               examples/samplers/MLDA_gravity_surveying.ipynb|
               examples/samplers/MLDA_simple_linear_regression.ipynb|
               examples/samplers/SMC-ABC_Lotka-Volterra_example.ipynb|
               examples/splines/spline.ipynb|
               examples/survival_analysis/censored_data.ipynb|
               examples/survival_analysis/weibull_aft.ipynb)
      entry: >
          (?x)(arviz-devs.github.io|
               aesara.readthedocs.io|
               aeppl.readthedocs.io|
               pymc-experimental.readthedocs.io|
               docs.pymc.io|
               numpy.org/doc|
               pymc-examples.readthedocs.io|
               docs.python.org|
               xarray.pydata.org
               python.arviz.org|
               docs.xarray.dev)
      language: pygrep
      types_or: [markdown, rst, jupyter]
- repo: https://github.com/mwouts/jupytext
  rev: v1.13.7
  hooks:
  - id: jupytext
    files: ^examples/.+\.ipynb$
    args: ["--sync"]
- repo: https://github.com/codespell-project/codespell
  rev: v2.1.0
  hooks:
  - id: codespell
    files: myst_nbs/
    args: ["--write-changes", "--ignore-words-list", "hist,fpr,fro,lik"]
