myst-nb
sphinx
pydata_sphinx_theme
sphinx-design
sphinx-copybutton
sphinxcontrib-bibtex
ablog<=0.10.27 # ablog 0.10.27 is broken see https://github.com/sunpy/ablog/issues/151
sphinxext-opengraph
sphinx-codeautolink
sphinx-notfound-page
nbsphinx
sphinx-gallery
matplotlib
sphinxext-rediraffe
sphinx-remove-toctrees
