myst-nb
sphinx==5.0.2 # see https://github.com/pymc-devs/pymc-examples/issues/409
git+https://github.com/pymc-devs/pymc-sphinx-theme
sphinx-design
sphinx-copybutton
sphinxcontrib-bibtex
ablog
sphinxext-opengraph
sphinx-codeautolink
sphinx-notfound-page
nbsphinx
sphinx-gallery==0.10.1 # see https://github.com/pymc-devs/pymc-examples/issues/409
matplotlib
sphinxext-rediraffe
sphinx-remove-toctrees
