{%- macro pathtocategory(category) -%}
  {% set path = "blog/category/" + category %}
  {{ pathto(path) }}
{%- endmacro -%}

{%- macro setcolorclass(active) -%}
  {% if active %}
    {{ "sd-text-success" }}
  {% else %}
    {{ "sd-text-muted" }}
  {% endif %}
{%- endmacro -%}

{%- macro category_item(name, active) -%}
<a href="{{ pathtocategory(name) }}" class="{{ setcolorclass(active) }}" title="{{ name }}">
  <b>{{ name }}</b>
</a>
{%- endmacro -%}

<!-- {% set post = "" %} -->
<!-- {% if pagename in ablog %} -->
{% set post = ablog[pagename] %}
<!-- {% endif %} -->

<h3>
  <a href="{{ pathto(ablog.category.path) }}">{{ gettext('Categories') }}</a>
</h3>
<div id="category" class="sd-text-justify sd-fs-4 sd-text-muted">
  <!-- level categories -->
  {% set i_bool = "intermediate" in post.category|map('string') %}
  {% set b_bool = "beginner" in post.category|map('string') %}
  {% set a_bool = "advanced" in post.category|map('string') %}
  <div class="container">
    <div class="row sd-fs-6">
      <div class="col">
        {{ category_item("beginner", b_bool) }}
      </div>
      <div class="col">
        {{ category_item("intermediate", i_bool) }}
      </div>
      <div class="col">
        {{ category_item("advanced", a_bool) }}
      </div>
    </div>
  </div>
</div>
