{% if pagename in ablog %}
  {% set fa = ablog.fontawesome %}
  {% set post = ablog[pagename] %}
  <h3>Notebook metadata</h3>

  <ul>
  {% if post.category %}
    <li id="category">
    <span><i class="fa-fw fa fa-folder-open"></i></span>
    {% for coll in post.category %} {% if coll|length %}
      <a href="{{ pathto(coll.docname) }}">{{ coll }}</a>{% if loop.index <
      post.category|length %},{% endif %} {% else %}{{ coll }}{% if loop.index <
      post.category|length %},{% endif %}{% endif %} {% endfor %}
    </li>
  {% endif %}
  {% if post.tags %}
    <li id="tags">
    <span>
      {% if post.tags|length > 1 %}<i class="fa-fw fa fa-tags"></i>
      {% else %}<i class="fa-fw fa fa-tag"></i>
      {% endif %}
    </span>
    {% for coll in post.tags %} {% if coll|length %}
    <a href="{{ pathto(coll.docname) }}">{{ coll }}</a>{% if loop.index <
    post.tags|length %}{% endif %} {% else %}{{ coll }}{% if loop.index <
    post.tags|length %}{% endif %}{% endif %} {% endfor %}
  </li>
  {% endif %}
  </ul>
{% endif %}
